

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.main-title{
    color: white;
    font-family: 'Bungee', cursive;
    font-size: 40px;
}
.astronaut{
    position: absolute;
    top: 35px;
    left: 100px;
    font-size: 72px;
    
}
.rocket{
    position: absolute;
    top: 500px;
    left: 577px;
    font-size: 72px;
}