section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
    background-color: rgb(180, 200, 203);
}

.main-title{
    color: white;
    font-size: 40px;
}
