.search-input{
    position: fixed;
    top: 85px;
    left: 200px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    z-index: 3;
}
.search-input:focus{
    outline: none;
}
.content{
    display: block
}
 .list{
    position: static;
    float: left;
    width: 40%;
    min-height: 900px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(103, 100, 100);
    border-radius: 4px;
    margin-top: 180px;
    margin-left: 40px;
    padding: 10px;
    background-color: #5b5b5b;
    box-shadow: 10px 15px #000000;
}
.playlist{
    min-height: 900px;
    width: 40%;
    float: right;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(103, 100, 100);
    border-radius: 4px;
    margin-top: 180px;
    margin-right: 40px;
    padding: 10px;
    word-wrap: break-word;
    background-color: #5b5b5b;
    box-shadow: 10px 15px #000000;
}
.playlist-title{
    position: absolute;
    top: 160px;
    left: 795px;
    color: gray;
}
.search-title{
    position: absolute;
    top: 160px;
    left: 42px;
    color: gray;
}
.playlist-items{
    color: rgb(255, 255, 255);
}
.playlist-button{
    background: black;
    border: 1px solid black;
    color: rgb(218, 218, 218);
    font-size: 15px;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px silver,
    1px 1px 1px silver;
    margin-bottom: 5px;
}
.playlist-button:focus{
    outline: none;
}
.playlistload-button{
    position: fixed;
    top: 85px;
    right: 183px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(182, 182, 182);
    z-index: 3;
}
.playlistload-button:focus{
    outline: none;
}
.search-button{
    position: fixed;
    top: 87px;
    left: 354px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(182, 182, 182);
    z-index: 3;
    
}
.search-button:focus{
    outline: none;
}
.clear-button{
    position: fixed;
    top: 85px;
    right: 60px;
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 20px;
    background-color: rgb(182, 182, 182);
    z-index: 3;
}
.clear-button{
    outline: none;
}
.button-delete{
    background: none;
    border: none;
    font-size: 15px
}
.button-delete{
    outline: none;
}
.button-up{
    background: none;
    border: none;
    font-size: 15px;
}
.button-up:focus{
    outline: none;
}
.button-down{
    background: none;
    border: none;
    font-size: 15px;
}
.button-down:focus{
    outline: none;
}
.search-fields{
    display: flex;
    justify-content: center;
}
.playlist-name{
    position: fixed;
    top: 85px;
    left: 761px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    z-index: 3;
}
.playlist-name:focus{
    outline: none;
}
.playlist-name-button{
    position: fixed;
    top: 85px;
    left: 915px;
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 20px;
    background-color: rgb(182, 182, 182);
    z-index: 3;
}
.playlist-name-button:focus{
    outline: none;
}